.animation-list {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  column-gap: 10px;
  background: #000;
  overflow-x: auto;
  &__item {
    color: #fff;
  }
  &__button {
    padding: 10px;
  }
  &::-webkit-scrollbar {
    display: none;
  }
}
